a(href="http://localhost:3000/update-cobj") Add/Update this table
<!doctype html>
<html>
<head> 
    title= `${title}`
</head>
<body> 
    <h1> Custom Object Table
    <table bgcolor = "black">
        <tr bgcolor = "lightpink">
            <th>Name</th>
            <th>Species</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Favorite Food</th>
        </tr>
    each pet in data
        <tr bgcolor = "white">
            <td>#{pet.properties.name}</td>
            <td>#{pet.properties.species}</td>
            <td>#{pet.properties.gender}</td>
            <td>#{pet.properties.email}</td>
            <td>#{pet.properties.favorite_food}</td>
        </tr>
    </table>
                        
         
